.nav{
    height: 70px;
    background-color: aqua;
    
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    margin: 0 auto;
}

.hamburger{
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger span{
    width: 100%;
    height: 5px;
    background: black;  
}
